<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- log config file for initial startup log only. 
		Please do not configure any logging in this file -->
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.SimpleLayout" />
	</appender>

	<logger name="org.springframework.aop.framework.Cglib2AopProxy" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="ConsoleAppender" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4j:configuration>